name: Test entrypoints
on: [push, pull_request]
jobs:
  test-entrypoints:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - run: uv run matrix-webhook -h
      - run: uv run python -m matrix_webhook -h
